.App{
    display: flex;
    flex-direction: column;
}
.all-inputs {
    display: flex;
    justify-content: center;
}

.button-section {
    display: flex;
    justify-content: center;
}
.income-exp-table{
    display: flex;
    justify-content: space-around;
}
